$openSans:'Open Sans', sans-serif;

.modal {

    &Box {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1050;
        background: rgba(#000000, .3);
        opacity: 1;
    }
    &Content {
        position: relative;
        top: 150px;
        left: 32%;
        width: 670px;
        height: 511px;
        background: #fff;
    }
    &Header {
        padding: 0 50px;
        height: 101px;
        display: flex;
        align-items: center;
        justify-content: space-between;
     
        background: #6B95E3;

    }
    &Keep {
        padding: 50px 50px 30px;
        height: 305px;
        
    }
    &Footer {
        padding: 0 50px;
        height: 105px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FAFAFA;
        border-top: 1px solid #E3E3E3;
    }
}

/*header*/

.headerTitle {
    font-size: 22px;
    font-family: $openSans;
    color: #ffffff;
}

.fa-times {
    color: #fff;
}



/*keep*/

.keepHeaders {
    display: flex;
}

form {
    position: relative;
}


input[type='text'] {
    height: 45px;
    width: 401px;
    padding: 5px 5px 5px 40px;
    font-size: 13px;
    font-family: $openSans;
}


.loupe {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
}

.select {
    position: absolute;
    padding-left: 15px;
    right: 20px;
    top:32%;
    border: none;
   
    appearance: none;
    font-size: 12px;
    color: #757575;
    border-left: 1px solid #757575;
}

.btn {
    width: 160px;
    height: 45px;
    margin-left: 10px;
}

/* footer */
.footerTitle {
    font-size: 13px;
    color: #000000;
}